 body
 , ::before, ::after{
 	box-sizing: border-box;
 	margin:0;
 	padding: 0;
 }
 body{
   overflow-x: hidden;
 }
 header .headerAnim {
 	min-height: 30vh;
 	background-image: url(/images/image_accueil.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed; 
 	color: white;	
 	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);

 }

 header .connect{	
 	background-color: rgb(0 0 0 / 65%);
 	min-height: 70vh;
 	display: flex;	
 }


 @media(min-width: 768px) and (max-width : 1024px) {
 	header .headerAnim {
 		min-height: 50vh;
 		background-image: url(../images/image_accueil_mobile.png);
 		background-size: cover;
 		background-repeat: no-repeat;
 		/*background-attachment: fixed; */
 		color: white;	
 		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);		

 	}
 }

 @media(max-width:767px){
 	header .headerAnim{		
 		min-height: 30vh;
 		background-image: url(../images/image_accueil_mobile.png);
 		background-size: cover;
 		background-repeat: no-repeat;
 		/*background-attachment: fixed;*/ 
 		color: white;	
 		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);	
 		
 	}
   .titreAnim{
    font-size: 32px;
  }

  .registererAnim, .loginAnim { 
    font-size: 30px;
  }

}


.tireur{
  max-width: 50%;
}


#fonction .media{
	padding: .5rem 1rem;
	cursor: pointer;
	border-radius: 3px;
	transition: all .5s ease-in-out;

}

#fonction .media:hover{
	background-color: rgba(128, 128, 128, 0.5);
}

#fonction2 .media2{
	transition: all .5s ease-in-out;
	border-radius: 3px;
}

#fonction2 .media2:hover{
	background-color: rgba(128, 128, 128, 0.5);
	border-radius: 3px;
}


.text-style-shooter{
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  text-decoration: none;
}

.text-style-shooter:hover{
  color: #ffffff;
  /*transform: scale(1);*/
  text-decoration: none;
}

.registererAnim:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  /*left: 50%;*/
  position: absolute;
  background: #17a2b8;
  transition: width 0.3s ease-in-out;
  width: 0;
}
.registererAnim:hover:after { 
  width: 80%; 
  /*left: 0; */
}

.loginAnim:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #17a2b8;
  transition: width 0.3s ease-in-out;
  width: 0%;
}
.loginAnim:hover:after { 
  width: 100%; 
  right: 0; 
}

/*  .text-style-shooter{
 	text-decoration: none;
   }*/

/*.text-style-shooter:{ 	
 	display: block;
 	position: absolute;
 	width: 0%;
 	height: 3px;
 	background: #17a2b8;
 	transform: scale(0);
 	transition: transform 0.2s ease-in-out;	

 }
.text-style-shooter:hover{
 	width: 100%;
 

   }*/


   .iconindex{
    font-size: 30px;
    color: #17a2b8;
  }

  .iconindex_warning{
    font-size: 30px;
    color: #ffc107;
  }

  .iconindex_danger{
    font-size: 30px;
    color: #dc3545;
  }

  /*Clgnotant text*/
  .ul-clign{
    display: flex;
    margin-left: -40px;
  }
  .li-clign, .ul-clign{
    list-style: none;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 40px; 
    animation: flash 1.6s linear infinite;
  }

  @keyframes flash{
    0%{
      color: #fff;
      text-shadow: none;
    }

    90%{
      color: #fff;
      text-shadow: none;
    }

    100%{
      color: #17a2b8;
      text-shadow: 0 0 7px #17a2b8, 0 0 25px #17a2b8 ;
    }
  }

 /* .li-clign:nth-child(1){
    animation-delay: .1s;
  }
  .li-clign:nth-child(2){
    animation-delay: .2s;
  }
  .li-clign:nth-child(3){
    animation-delay: .3s;
  }
  .li-clign:nth-child(4){
    animation-delay: .4s;
  }
  .li-clign:nth-child(5){
    animation-delay: .5s;
  }
   .li-clign:nth-child(6){
    animation-delay: .6s;
  }
  .li-clign:nth-child(7){
    animation-delay: .7s;
  }
  .li-clign:nth-child(8){
    animation-delay: .8s;
  }
  .li-clign:nth-child(9){
    animation-delay: .9s;
  }
  .li-clign:nth-child(10){
    animation-delay: 1s;
  }
   .li-clign:nth-child(11){
    animation-delay: 1.1s;
  }
  .li-clign:nth-child(12){
    animation-delay: 1.2s;
  }
  .li-clign:nth-child(13){
    animation-delay: 1.3s;
  }
  .li-clign:nth-child(14){
    animation-delay: 1.4s;
  }
  .li-clign:nth-child(15){
    animation-delay: 1.5s;
  }
   .li-clign:nth-child(16){
    animation-delay: 1.6s;
  }
   .li-clign:nth-child(17){
    animation-delay: 1.7s;
    }*/

    .li-clign:nth-child(1){
      animation-delay: .1s;
    }
    .li-clign:nth-child(2){
      animation-delay: .1s
    }
    .li-clign:nth-child(3){
      animation-delay: .1s
    }
    .li-clign:nth-child(4){
      animation-delay: .1s
    }
    .li-clign:nth-child(5){
      animation-delay: .1s
    }
    .li-clign:nth-child(6){
      animation-delay: .2s
    }
    .li-clign:nth-child(7){
      animation-delay: .2s
    }
    .li-clign:nth-child(8){
      animation-delay: .2s
    }
    .li-clign:nth-child(9){
      animation-delay: .2s
    }
    .li-clign:nth-child(10){
      animation-delay: .3s
    }
    .li-clign:nth-child(11){
      animation-delay: .3s
    }
    .li-clign:nth-child(12){
      animation-delay: .3s
    }
    .li-clign:nth-child(13){
      animation-delay: .3s
    }
    .li-clign:nth-child(14){
      animation-delay: .3s
    }
    .li-clign:nth-child(15){
      animation-delay: .3s
    }
    .li-clign:nth-child(16){
      animation-delay: .3s
    }
    .li-clign:nth-child(17){
      animation-delay: .3s
    }


    .registererClign, .registererClign2{
      list-style: none;
      font-family: 'Dancing Script', cursive;
      color: #fff;
      font-size: 40px; 
      animation: flash2 2.6s linear infinite;
    }

    @keyframes flash2{
      0%{
        color: #fff;
        text-shadow: none;
      }

      90%{
        color: #fff;
        text-shadow: none;
      }

      100%{
        color: #17a2b8;
        text-shadow: 0 0 7px #17a2b8, 0 0 25px #17a2b8 ;
      }
    }

    .registererClign:nth-child(1){
      animation-delay: .1s;
    }

     .registererClign2:nth-child(1){
      animation-delay: .3s;
    2