 body
 , ::before, ::after{
 	box-sizing: border-box;
 	margin:0;
 	padding: 0;
 }
 body{
   overflow-x: hidden;
 }
 header .headerAnim {
 	min-height: 30vh;
 	background-image: url(/images/image_accueil.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed; 
 	color: white;	
 	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);

 }

 header .connect{	
 	background-color: rgb(0 0 0 / 65%);
 	min-height: 70vh;
 	display: flex;	
 }


 @media(min-width: 768px) and (max-width : 1024px) {
 	header .headerAnim {
 		min-height: 50vh;
 		background-image: url(../images/image_accueil_mobile.png);
 		background-size: cover;
 		background-repeat: no-repeat;
 		/*background-attachment: fixed; */
 		color: white;	
 		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);		

 	}
 }

 @media(max-width:767px){
 	header .headerAnim{		
 		min-height: 30vh;
 		background-image: url(../images/image_accueil_mobile.png);
 		background-size: cover;
 		background-repeat: no-repeat;
 		/*background-attachment: fixed;*/ 
 		color: white;	
 		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
 		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);	
 		
 	}
   .titreAnim{
    font-size: 32px;
  }

  .registererAnim, .loginAnim { 
    font-size: 30px;
  }

}


.tireur{
  max-width: 50%;
}


#fonction .media{
	padding: .5rem 1rem;
	cursor: pointer;
	border-radius: 3px;
	transition: all .5s ease-in-out;

}

#fonction .media:hover{
	background-color: rgba(128, 128, 128, 0.5);
}

#fonction2 .media2{
	transition: all .5s ease-in-out;
	border-radius: 3px;
}

#fonction2 .media2:hover{
	background-color: rgba(128, 128, 128, 0.5);
	border-radius: 3px;
}


.text-style-shooter{
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  text-decoration: none;
}

.text-style-shooter:hover{
  color: #ffffff;
  /*transform: scale(1);*/
  text-decoration: none;
}

.registererAnim:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  /*left: 50%;*/
  position: absolute;
  background: #17a2b8;
  transition: width 0.3s ease-in-out;
  width: 0;
}
.registererAnim:hover:after { 
  width: 80%; 
  /*left: 0; */
}

.loginAnim:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #17a2b8;
  transition: width 0.3s ease-in-out;
  width: 0%;
}
.loginAnim:hover:after { 
  width: 100%; 
  right: 0; 
}

/*  .text-style-shooter{
 	text-decoration: none;
   }*/

/*.text-style-shooter:{ 	
 	display: block;
 	position: absolute;
 	width: 0%;
 	height: 3px;
 	background: #17a2b8;
 	transform: scale(0);
 	transition: transform 0.2s ease-in-out;	

 }
.text-style-shooter:hover{
 	width: 100%;
 

   }*/


   .iconindex{
    font-size: 30px;
    color: #17a2b8;
  }

  .iconindex_warning{
    font-size: 30px;
    color: #ffc107;
  }

  .iconindex_danger{
    font-size: 30px;
    color: #dc3545;
  }

  /*Clgnotant text*/
  .ul-clign{
    display: flex;
    margin-left: -40px;
  }
  .li-clign, .ul-clign{
    list-style: none;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 40px; 
    animation: flash 1.6s linear infinite;
  }

  @keyframes flash{
    0%{
      color: #fff;
      text-shadow: none;
    }

    90%{
      color: #fff;
      text-shadow: none;
    }

    100%{
      color: #17a2b8;
      text-shadow: 0 0 7px #17a2b8, 0 0 25px #17a2b8 ;
    }
  }

 /* .li-clign:nth-child(1){
    animation-delay: .1s;
  }
  .li-clign:nth-child(2){
    animation-delay: .2s;
  }
  .li-clign:nth-child(3){
    animation-delay: .3s;
  }
  .li-clign:nth-child(4){
    animation-delay: .4s;
  }
  .li-clign:nth-child(5){
    animation-delay: .5s;
  }
   .li-clign:nth-child(6){
    animation-delay: .6s;
  }
  .li-clign:nth-child(7){
    animation-delay: .7s;
  }
  .li-clign:nth-child(8){
    animation-delay: .8s;
  }
  .li-clign:nth-child(9){
    animation-delay: .9s;
  }
  .li-clign:nth-child(10){
    animation-delay: 1s;
  }
   .li-clign:nth-child(11){
    animation-delay: 1.1s;
  }
  .li-clign:nth-child(12){
    animation-delay: 1.2s;
  }
  .li-clign:nth-child(13){
    animation-delay: 1.3s;
  }
  .li-clign:nth-child(14){
    animation-delay: 1.4s;
  }
  .li-clign:nth-child(15){
    animation-delay: 1.5s;
  }
   .li-clign:nth-child(16){
    animation-delay: 1.6s;
  }
   .li-clign:nth-child(17){
    animation-delay: 1.7s;
    }*/

    .li-clign:nth-child(1){
      animation-delay: .1s;
    }
    .li-clign:nth-child(2){
      animation-delay: .1s
    }
    .li-clign:nth-child(3){
      animation-delay: .1s
    }
    .li-clign:nth-child(4){
      animation-delay: .1s
    }
    .li-clign:nth-child(5){
      animation-delay: .1s
    }
    .li-clign:nth-child(6){
      animation-delay: .2s
    }
    .li-clign:nth-child(7){
      animation-delay: .2s
    }
    .li-clign:nth-child(8){
      animation-delay: .2s
    }
    .li-clign:nth-child(9){
      animation-delay: .2s
    }
    .li-clign:nth-child(10){
      animation-delay: .3s
    }
    .li-clign:nth-child(11){
      animation-delay: .3s
    }
    .li-clign:nth-child(12){
      animation-delay: .3s
    }
    .li-clign:nth-child(13){
      animation-delay: .3s
    }
    .li-clign:nth-child(14){
      animation-delay: .3s
    }
    .li-clign:nth-child(15){
      animation-delay: .3s
    }
    .li-clign:nth-child(16){
      animation-delay: .3s
    }
    .li-clign:nth-child(17){
      animation-delay: .3s
    }


    .registererClign, .registererClign2{
      list-style: none;
      font-family: 'Dancing Script', cursive;
      color: #fff;
      font-size: 30px; 
      animation: flash2 2.6s linear infinite;
    }

    @keyframes flash2{
      0%{
        color: #fff;
        text-shadow: none;
      }

      90%{
        color: #fff;
        text-shadow: none;
      }

      100%{
        color: #17a2b8;
        text-shadow: 0 0 7px #17a2b8, 0 0 25px #17a2b8 ;
      }
    }

    .registererClign:nth-child(1){
      animation-delay: .1s;
    }

    .registererClign2:nth-child(1){
      animation-delay: .3s;
    }

    .btn-start{
      max-width: 75px; 
    }

    

.btn-btn-start {
  box-shadow:inset 0px 1px 0px 0px #f9eca0;
  background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color:#f0c911;
  border-radius:6px;
  border:1px solid #e65f44;
  display:inline-block;
  cursor:pointer;
  color:#c92200;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ded17c;
}
.btn-btn-start:hover {
  background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color:#f2ab1e;
}
.btn-btn-start:active {
  position:relative;
  top:1px;
}





    .bobber-all{
      /*display: flex;*/
      text-align: -webkit-center;
    }

    /*.bobber-image{
      width: 420px;
      height: 530px;
      object-fit: cover;
      object-position: 0 0
      }*/


      .box-panneau {
        width: 597px;
        height: 480px;
        background: url(/images/Panneau1_new.png);
        background-repeat: no-repeat;
        background-size: 530px;
        margin-top: 149px;
        position: absolute;
        margin-left: 285px;
      }

        .box-popper{
      position: absolute;
      top: 50%;
      left: 76%;
      transform: translate(-50%, -50%);
      width: calc(400px / 5);
      height: 160px;
      background: url(/images/sprit/spritePopper.png);
      animation-name: animate-popper;
      animation-duration: 3s;
      animation-timing-function: steps(5);
      /*animation-delay: 2s;*/
      /*animation-iteration-count: 6.5;*/
      animation-direction: alternate;
      animation-fill-mode: forwards;
      /*animation-play-state: paused;*/
      /*animation: animate-bobber 1.5s steps(9) infinite;*/
      /*animation-direction: alternate;*/
    }
      
      .box-bobber{
      /*position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);*/
      width: calc(3780px / 9);
      height: 530px;
      background: url(/images/sprit/bobberSprit.png);
      animation-name: animate-bobber;
      animation-duration: 1s;
      animation-timing-function: steps(9);
      animation-delay: 6s;
      animation-iteration-count: 6.5;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-play-state: paused;
      /*animation: animate-bobber 1.5s steps(9) infinite;*/
      /*animation-direction: alternate;*/
    }
    .play {
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

      @keyframes animate-popper
    {
      to
      {
        background-position: 0;
      }
       from
      {
        background-position: -400;
      }     

    }
    
    @keyframes animate-bobber
    {
      0%
      {
        background-position: 0;
      }
       44%
      {
        background-position: -420;
      }
       88%
      {
        background-position: -2940;
      }
      100%
      {
        background-position: -3780px;
      }

    }

   /* .box-bobber:nth-child(1){
      background-position: -1680 0;
    }

    .box-bobber:nth-child(2){
      background-position: -1260 0;
    }

    .box-bobber:nth-child(3){      
      background-position: -840 0;
    }
    .box-bobber:nth-child(4){     
      background-position: -420 0; 
    }

    .box-bobber:nth-child(5){ 
      background-position: 0 0;  
    }

    .box-bobber:nth-child(6){      
      background-position: 420 0;
    }

    .box-bobber:nth-child(7){      
     background-position: 840 0;
    }

    .box-bobber:nth-child(8){      
      background-position: 1260 0;
    }

    .box-bobber:nth-child(9){      
      background-position: 1680 0;
    }*/