
ul, li, ol{
	list-style: none;
}

.stageimg{
	margin-top: 53px;
	box-shadow: 6px 6px 6px -1px rgb(95 95 95);
	}
.stage-img-show{
	max-width:60%;
	height: auto;
	box-shadow: 6px 6px 6px -1px rgb(95 95 95);
}

.iconstage{
	font-size: 30px;
 	vertical-align: middle;
}

.pdf{	
 	/*color: #da181b; 	*/
}

.img{	
 	/*color: #17a2b8; 	*/
}

.share{	
 	color: #03a9f4	
}

.updatestage{	
 	/*color: #ffc107; 	*/
}

.deletestage{	
 	/*color: #da181b; 	*/
}

.unshare{	
 	color: #4bff00; 	
}

.media2 {
  list-style: none; /* Remove default bullets */
}

.media2 .list-stage::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}