*, *::before, *::after {
	box-sizing: border-box;
}


html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


/*loader chargement page*/
.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #17a2b8;
	transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.loader{	
	width: 120px;
	height: 120px;
	border: 16px solid #e5e5e5;
	border-top: 16px solid #17a2b8;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
	border-top: 16px solid #17a2b8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%) rotate(0deg);
	animation: loader 1s linear infinite;
}

@keyframes loader{	
	100%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.loading-text {
	width: 90px;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 45px);
	text-align: center;
}

.hidden{
	opacity: 0;
	visibility: hidden;
}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
	-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
	100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

	#warped span{font-family:'Roboto';font-size:18px;font-weight:100;font-style:normal;
	line-height:0.55; white-space:pre; overflow:visible; padding:0px;}

	#warped .w0 {-moz-transform: rotate(-0.39rad);-webkit-transform: rotate(-0.39rad);-o-transform:
		rotate(-0.39rad);-ms-transform: rotate(-0.39rad); transform: rotate(-0.39rad);
		width: 12px; height: 8px; left: 23px; top: -8px;}

		#warped .w1 {-moz-transform: rotate(-0.05rad);-webkit-transform: rotate(-0.05rad);-o-transform:
			rotate(-0.05rad);-ms-transform: rotate(-0.05rad); transform: rotate(-0.05rad);
			width: 12px; height: 8px; left: 38px; top: -8px;}

			#warped .w2 {-moz-transform: rotate(0.28rad);-webkit-transform: rotate(0.28rad);-o-transform:
				rotate(0.28rad);-ms-transform: rotate(0.28rad); transform: rotate(0.28rad);
				width: 11px; height: 8px; left: 53px; top: -8px;}				

				/*loader chargement page*/



				.container-fluid{
					/*height: 100vh;*/
					margin: 100px 0 0 0;	
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
				}

				#main{
					height: 100%;
				}

				.section0, .section1 {
					/*flex: 0 0 50%;*/
					flex-grow: 0;
					flex-shrink: 0;
					flex-basis: 49%;
					margin: 5px;
					padding: 5px;
					/*max-width: 50%;*/
					/*padding: 0 10px 10px 10px;*/
					text-align: center;
					min-width: 300px;
					background: #ffffff;
					box-shadow:  6px 6px 12px 1px #c9c9c9,
					-6px -6px 12px 1px #fff;
					border-radius:6px;
				}

				/*Accordion*/

				.btn-accordion{
					width: 50%;
					min-width: 250px; 
					margin-top: 3px;
				}

				.abutton{
					max-width: 500px; 
					min-width: 270px; 
					border: 1px solid;
				}

			/*	.draggable {
					transform: rotate(0deg);
				}
				*/

				#draggable {
					/*border: solid 1px #d6d6d6;*/
					text-rendering: geometricprecision;
					padding: 10px;
					/*border-radius: 3px;
					background: #ffffff;
					box-shadow:  6px 6px 12px 1px #c9c9c9,
					-6px -6px 12px 1px #fff;*/
				}



				#dropzone{
					width: 99%;			
					height: 1035px;
					border: solid 1px #d6d6d6;
					border-radius: 3px 3px 0px 0px;
					cursor:pointer;
					text-rendering: geometricprecision;					
					/*background: #ffffff;
					box-shadow:  6px 6px 12px 1px #c9c9c9,
					-6px -6px 12px 1px #fff;*/
				}

				/*table*/
				table {
					border-collapse: collapse;
					border-spacing: 0;
					width: 99%;
				}
				table tr th,
				table tr td {
					border-right: 1px solid #000000;
					border-bottom: 1px solid #000000;
					/*padding: 5px;*/
				}
				table tr th:first-child,
				table tr td:first-child,
				td:not(:nth-child(1)) {
					border-left: 1px solid #000000;
				}

				

				table tr th {
					/*background: #eee;*/
					border-top: 1px solid #000000;
					text-align: center;
					font-weight: normal;
				}

				/* top-left border-radius */
				table tr:first-child th:first-child {
					border-top-left-radius: 0px;
				}

				/* top-right border-radius */
				table tr:first-child th:last-child {
					border-top-right-radius: 0px;
				}

				/* bottom-left border-radius */
				table tr:last-child td:first-child {
					border-bottom-left-radius: 3px;
				}

				/* bottom-right border-radius */
				table tr:last-child td:last-child {
					border-bottom-right-radius: 3px;
				}

				.MinRounds{
					font-size: 20px;
					margin-top: 12px;
				}


				@media(max-width:767px){
					.p-StartPos-Descriptn{
						font-size: 12px;
					}
					.MinRounds{
						font-size: 13px;
						margin-top: 12px;
					}

				}

				.noborder{
					border: none; 
					border-color: transparent;
				}
/*
				.changecolor{
					margin: 0;
					padding: 5px 5px;
					background-color: #fff;
					display: inline-block;
					border-radius: 3px;
				}

				.changecolor li{
					list-style: none;
					height: 20px;
					width: 20px;
					display: inline-block;
					cursor: pointer;
				}

				.changecolor li.btnorange{
					background-color: #FE9301; 
					border-radius: 25%;
					vertical-align: middle;
				}
				.changecolor li.btnvert{
					background-color: #5BEA19; 
					border-radius: 25%;
					vertical-align: middle;
				}

				.changecolor li.btnvert2{
					background-color: #3D963E; 
					border-radius: 25%;
					vertical-align: middle;
				}

				.changecolor li.btngris{
					background-color: #C0BCBC;
					border-radius: 25%;
					vertical-align: middle; 
				}

				.changecolor li.btnbleu{
					background-color: #2CA8F5; 
					border-radius: 25%;
					vertical-align: middle;
				}

				.changecolor li.btnreset{
					background-color: #FF8000; 
					border-radius: 25%;
					vertical-align: middle;
					}*/


					.small-img{
						max-width: 10%;
						max-height: 10%;
					}

					hr.style-one {
						border: 0;
						height: 1px;
						background: #333;
						background-image: linear-gradient(to right, #ccc, #333, #ccc);
						max-width: 300px;
					}
					hr.style-two {
						border: 0;
						height: 1px;
						background: #333;
						background-image: linear-gradient(to right, #ccc, #333, #ccc);						
					}

					.pub{
						font-size: 0.6em;
					}

					.modalhelp{
						cursor: pointer;
					}


					.iconinfo{
						color: #17a2b8;
						font-size: 22px;
					}

					#elements{
						min-height: 200px;
					}

					.btn-input{
						margin-bottom: 1rem!important;
						width: 19%;
						height: 30px;
						cursor: pointer;
						border-color: #17a2b8;
					}    


				/*.svg-container {
					display: inline-block;
					position: relative;
					width: 100%;
					vertical-align: middle;
					overflow: hidden;
					}*/

					.input-stagename{
						text-align: center;
						width: 100%;
					}

				/*@media(max-width:767px){
					.input-stagename{
					size: 29px;
				}
				}*/


			/*	.svg-content {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					}*/

					.alertify{
						top: 50%;
						left: 50%;
						transform: translateY(-50% -50%);
						margin: auto;
					}

					/*ajs-message ajs-success ajs-visible*/

					.menu-perso{
						display: flex;
						justify-content: center;
						align-self: center;
						flex-direction: column;
						width: 140px;
						height: 43px;
						position: absolute;
						display: none;						
					}

					/*.btn-rotate{
						font-size: 25px;
						width: 100%;
						height: 100%;
						}*/

					/*#shortc, #medco, #lonco{
						display: none;
						}*/


						/************** For Context menu ***********/
						/* context menu */
						.context-menu {  
							display: none;  
							position: absolute;  
							z-index: 9999;  
							padding: 12px 0;  
							width: 135px;  
							background-color: #fff; 
							border: solid 1px #dfdfdf; 
							border-radius: 3px; 
							box-shadow: 3px 3px 2px 0px #0066aa;
						}

						.context-menu--active {  display: block;  }

						.context-menu__items { list-style: none;  margin: 0;  padding: 0;  }
					.context-menu__item { display: block;  /*margin-bottom: 4px;*/  }
					.context-menu__item:last-child {  margin-bottom: 0;  }
					.context-menu__link {  display: block;  padding: 0px 6px;  color: #0066aa;  text-decoration: none; font-size: 16px; }
					.context-menu__link:hover {  color: #fff;  background-color: #0066aa;  }
					.context-menu__items ul {  position: absolute;  white-space: nowrap;  z-index: 1;  left: -99999em;}
					.context-menu__items > li:hover > ul {  left: auto;  padding-top: 5px  ;  min-width: 100%;  }
					.context-menu__items > li li ul {  border-left:1px solid #fff;}
					.context-menu__items > li li:hover > ul {  left: 100%;  top: -1px;  }
					.context-menu__item ul { background-color: #ffffff; padding: 7px 11px;  list-style-type: none;  text-decoration: none; margin-left: 40px; }
					.page-media .context-menu__items ul li { display: block; }
					/************** For Context menu ***********/



					.svg-item{
						width: 30px;
					}
					.svg-item2{
						width: 70px;
					}
					.svg-item3{
						width: 50px;
					}
					.svg-item4{
						width: 18px;
					}

					.svg-popper{
						width: 28px;
					}
					.svg-mini-popper{
						width:24px;
					}


					.elementsDraggable{
						cursor: grab;
					}

					.ui-draggable-dragging{
						cursor: grabbing;
					}

					#resizable { 
						width: 150px; 
						height: 150px; 
						padding: 0.5em;
					}


/*******************Upload logo*********************/

.div-logo-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.div-logo{
    opacity: 0.5;
    transition: transform .2s;
    margin-right: 15px;
}


.div-logo:hover {
  transform: scale(1.5); 
  opacity: 1;
}

.delete-logo-a{
    text-decoration: none !important;
}

.delete-logo{    
    z-index: 100;
    position: absolute;
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    margin-top: -7px;
}

.addgrid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}