
 /*swup*/


/* body{
 	overflow-x: hidden;
 }

 .transition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0%);
}


.transition-header{
	transition: 0.2s;
	transform: translateY(0%);
}

html.is-animating .transition-header {
  transform: translateY(100%);
}

html.is-leaving .transition-header {
  transform: translateY(0%);
}*/
