{% extends 'base.html.twig' %}

{% block title 'Create stage' %}

	{% block stylesheets %}		
	{% endblock %}


{% block body %}

	<div class="container-fluid">

	<h1>Create stage</h1>

	{{ form_start(form) }}
	
		{{ form_widget(form) }}

	{{ form_end(form) }}


			
	</div>

	{% endblock %}
		
